<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Lost ID</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style5.css' %}">
</head>
<body>
    <nav class="container">
        <ul>
            <button onclick="window.location.href = '{% url 'home' %}';" class="btn btn-primary">Return <br> Home</button>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <button onclick="window.location.href = '{% url 'foundid' %}';" class="btn btn-primary">Found ID?<br> Report</button>
        </ul>
    </nav>
    <div class="container">
        <header>
            <h1 class="logo">Report Lost ID</h1>
        </header>
        <form method="post" enctype="multipart/form-data">  <!-- Add enctype for file upload -->
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">POST</button>
        </form>
    </div>
</body>
</html>
